# Begin Project
# Begin SubItem "MS01  Resources"
# Begin Source File
SOURCE=SONG\WISH1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_WISH1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\ALA1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_ALA1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\ALAINS.BIN
USEPARAM=FALSE
PARAM=
ID=RES_ALAINS_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\DECK1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_DECK1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\GREEN1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_GREEN1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\HK1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_HK1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\LA1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_LA1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\PP1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_PP1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\S31.BIN
USEPARAM=FALSE
PARAM=
ID=RES_S31_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\TW1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_TW1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\WINE1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_WINE1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\1231.BIN
USEPARAM=FALSE
PARAM=
ID=RES_1231_BIN
EXPORT=3
# End Source File
# End SubItem
# End Project
